{% extends "pos/base.html" %}


{% block content %}
<!--Go back-->
<main role="main" class="main-content">
    <div class="container-fluid">
<div class="row ml-0 mb-3">
    <a href="{% url 'customers:customers_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
</div>

<div class="row">
    <div class="card col-md-8">
        <div class="card-body">
            <h2>Help and Support</h2>

        <h3>Frequently Asked Questions (FAQs)</h3>
        <div class="faq-section">
            <ul>
                <li>
                    <strong>Q: How do I reset my password?</strong>
                    <p>A: To reset your password, click on the 'Forgot Password' link on the login page and follow the instructions.</p>
                </li>
                <li>
                    <strong>Q: How do I generate a sales report?</strong>
                    <p>A: You can generate a sales report by going to the 'Reports' section in the main menu and selecting the report you need.</p>
                </li>
                <li>
                    <strong>Q: How do I add a new product to the inventory?</strong>
                    <p>A: To add a new product, go to the 'Inventory' section and click on 'Add New Product'. Fill in the necessary details and save.</p>
                </li>
                <li>
                    <strong>Q: How can I contact customer support?</strong>
                    <p>A: You can reach our customer support via email at support@example.com or by calling 123-456-7890.</p>
                </li>
            </ul>
        </div>

        <h3>Contact Information</h3>
        <p>If you need further assistance, feel free to contact our support team:</p>
        <ul>
            <li>Email: <a href="mailto:support@example.com">support@example.com</a></li>
            <li>Phone: 123-456-7890</li>
        </ul>

        <p>Thank you for using our POS system. We are here to help you!</p>
        </div>
    </div>
</div>
</div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}